.delete-button{
    cursor: pointer;
}

.kumar-dp{
    border-radius: 50%;
}

.card-top .card-img-top{
  width: inherit !important
}

.kumar-dp, .card .card-img-top{
    width: 50%;
}


.container{
    margin-bottom: 10px;
}

.btn-space {
    margin-right: 5px;
}

body {
    padding-top: 4em;
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.card, .card-header{
    background-color: transparent !important;
    margin-bottom: 10px;
}
.card {
    border:none;
}


body {
  background: #f0f0f0;
}
aside, main {
  padding: 10px!important;
}
main {
  padding-left: 0!important;
}
aside .inner, main .inner {
  background: #fff;
  padding: 20px;
}
h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  margin-top: 10px;
  color: #777;
}
h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
h4 {
  font-size: 15px;
  font-weight: 700;
}
section h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}
a {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.divider {
  padding: 10px 20px 0 20px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}
.fa {
  color: #777;
  margin-right: 5px;
  top: 4px;
}

.contact-links li {
  margin-bottom: 15px;
}
.profileLinks li a {
  text-decoration: none;
  color: #000;
}
.profileLinks li a:hover {
  color: #23527c;
}

.image0,.image1,.image2{
  float: 'right'
}

.planetmap div{
    display:block;
    position:absolute;
}

.hidden{
    display:none;
}

.circle {
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border-radius: 10px;
   cursor: pointer;
}
.small{
    width: 8px;
    height: 8px;
}
.regular{
    width: 12px;
    height: 12px;
}
.big{
    width: 16px;
    height: 16px;
}
#red{
    background: red;
}
#green{
    background: green;
}
#orange{
    background: orange;
}
#main_panel{
    margin: auto;
    padding: 10px;
    width: 1000px;
}
#url_panel{

}
.image-input > *{
    padding: 5px;
    margin: 10px;
}

.image-input{
    padding: 10px;
}

.preview-image, .preview-image img{
    max-width:220px;
    max-height:220px;
    width:100%;
}
.center{
  padding: 10px;
}
.border-preview-image button.left{
    float: left;
    vertical-align: center;
    background: buttonshadow url("../images/prev.png") no-repeat scroll center center
}

.border-preview-image button.right{
    float: right;
    vertical-align: center;
    background: buttonshadow url("../images/next.png") no-repeat scroll center center
}

.border-preview-image{
    max-width:1040px;
    display: inline-flex;
}

.preview-image{
    padding:10px;
    float: left
}

.image-input > input[type="text"] {
    border-radius: 10px;
}

.image-input > input[type="text"] {
    border-radius: 10px;
}

#form_panel{
    float: left;
    background:#eee;
    border:5px solid #FFF;
    outline:1px solid #eee;
    padding: 5px;
    z-index:2000;
}

#form_panel .row{
  margin: 0px 0px
}
#form_panel input,textarea{
    padding:3px;
    background:#FFF;
    border:1px solid #CFCFCF;
    color:#000;
}

#image_panel{
    float:left;
    position:relative;
}

#image_panel img{
    left:0;
    overflow: hidden;
}

#form_panel .label{
    float:left;
    padding:5px;
}

#form_panel .field{
    float:left;
    padding:5px;
}

#form_panel .row{
    clear:both;
}

#info_panel{
    padding:10px;
    margin:20px 0;
    background:#eee;
}

.preview-images {
    overflow: hidden;
    float: left;
}

.close{
    position: absolute;
    top: -20px;
    right: -14px;
    width: 25px;
    height: 25px;
    background: transparent url("../image/close.png") no-repeat center center;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 10px;
}

.button{
    background: none repeat scroll 0 0 #2769C4;
    border: 1px solid #CFCFCF;
    color: #FFFFFF;
    font-weight: bold;
    min-height: 30px;
    margin: 10px;
    text-align: 'center';
}

.text-center{
    text-align: 'center';
}
